################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Task_LocatorsForWebElements_1/ConsoleApp1
/Task_LocatorsForWebElements_1/ConsoleApp2
/Task_LocatorsForWebElements_1/packages
/.vs/.NET_AT/CopilotIndices/17.14.1530.14912
/.vs/.NET_AT/FileContentIndex
/.vs/.NET_AT/v17
/.vs/ProjectSettings.json
/.vs
/Task_LocatorsForWebElements_1/.vs
