################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Task_LocatorsForWebElements_1/ConsoleApp1
/Task_LocatorsForWebElements_1/ConsoleApp2
/Task_LocatorsForWebElements_1/packages
/.vs/.NET_AT/CopilotIndices/17.14.1530.14912
/.vs/.NET_AT/FileContentIndex
/.vs/.NET_AT/v17
/.vs/ProjectSettings.json
/.vs
/Task_LocatorsForWebElements_1/.vs
/Task_LocatorsForWebElements_1/TestProject/obj
/Task_LocatorsForWebElements_1/TestProject/bin
/Task_LocatorsForWebElements_1/TestProject/obj/Debug/net9.0/refint/TestProject.dll
/Task_LocatorsForWebElements_1/TestProject/obj/Debug/net9.0/ref/TestProject.dll
/Task_LocatorsForWebElements_1/TestProject/obj/Debug/net9.0/TestProject.AssemblyInfo.cs
/Task_LocatorsForWebElements_1/TestProject/obj/Debug/net9.0/TestProject.AssemblyInfoInputs.cache
/Task_LocatorsForWebElements_1/TestProject/obj/Debug/net9.0/TestProject.csproj.AssemblyReference.cache
/Task_LocatorsForWebElements_1/TestProject/obj/Debug/net9.0/TestProject.dll
/Task_LocatorsForWebElements_1/TestProject/obj/Debug/net9.0/TestProject.pdb
/Task_LocatorsForWebElements_1/TestProject/obj/Debug/net9.0/TestProject.sourcelink.json
/Task_LocatorsForWebElements_1/TestProject/bin/Debug/net9.0/TestProject.dll
/Task_LocatorsForWebElements_1/TestProject/bin/Debug/net9.0/TestProject.pdb
/Task_LocatorsForWebElements_1/Main/PageObjects/temp.cs
/Task_LocatorsForWebElements_1/Main/obj/Debug/net9.0/Main.AssemblyInfo.cs
/Task_LocatorsForWebElements_1/Main/obj/Debug/net9.0/Main.AssemblyInfoInputs.cache
/Task_LocatorsForWebElements_1/Main/obj/Debug/net9.0/Main.csproj.CoreCompileInputs.cache
/Task_LocatorsForWebElements_1/Main/obj/Debug/net9.0/Main.dll
/Task_LocatorsForWebElements_1/Main/obj/Debug/net9.0/Main.pdb
/Task_LocatorsForWebElements_1/Main/obj/Debug/net9.0/Main.sourcelink.json
/Task_LocatorsForWebElements_1/Main/obj/Debug/net9.0/refint/Main.dll
/Task_LocatorsForWebElements_1/Main/bin/Debug/net9.0/Main.dll
/Task_LocatorsForWebElements_1/Main/bin/Debug/net9.0/Main.pdb
/Task_LocatorsForWebElements_1/Main/obj/Debug/net9.0/Main.AssemblyInfo.cs
/Task_LocatorsForWebElements_1/Main/obj/Debug/net9.0/Main.AssemblyInfoInputs.cache
/Task_LocatorsForWebElements_1/Main/obj/Debug/net9.0/Main.csproj.CoreCompileInputs.cache
/Task_LocatorsForWebElements_1/Main/obj/Debug/net9.0/Main.dll
/Task_LocatorsForWebElements_1/Main/obj/Debug/net9.0/Main.pdb
/Task_LocatorsForWebElements_1/Main/obj/Debug/net9.0/Main.sourcelink.json
/Task_LocatorsForWebElements_1/Main/obj/Debug/net9.0/ref/Main.dll
/Task_LocatorsForWebElements_1/Main/obj/Debug/net9.0/refint/Main.dll
/Task_LocatorsForWebElements_1/Main/PageObjects/temp.cs
/Task_LocatorsForWebElements_1/TestProject/bin/Debug/net9.0/TestProject.dll
/Task_LocatorsForWebElements_1/TestProject/bin/Debug/net9.0/TestProject.pdb
/Task_LocatorsForWebElements_1/TestProject/obj/Debug/net9.0/ref/TestProject.dll
/Task_LocatorsForWebElements_1/TestProject/obj/Debug/net9.0/refint/TestProject.dll
/Task_LocatorsForWebElements_1/TestProject/obj/Debug/net9.0/TestProject.AssemblyInfo.cs
/Task_LocatorsForWebElements_1/TestProject/obj/Debug/net9.0/TestProject.AssemblyInfoInputs.cache
/Task_LocatorsForWebElements_1/TestProject/obj/Debug/net9.0/TestProject.csproj.AssemblyReference.cache
/Task_LocatorsForWebElements_1/TestProject/obj/Debug/net9.0/TestProject.dll
/Task_LocatorsForWebElements_1/TestProject/obj/Debug/net9.0/TestProject.pdb
/Task_LocatorsForWebElements_1/TestProject/obj/Debug/net9.0/TestProject.sourcelink.json
/Task_LocatorsForWebElements_1/Main/bin/Debug/net9.0
/Task_LocatorsForWebElements_1/Main/obj
/Task_LocatorsForWebElements_1/.editorconfig
/Task_LocatorsForWebElements_1/Task_LocatorsForWebElements_1.sln
/Task_LocatorsForWebElements_1/Task_LocatorsForWebElements_1.zip
